<!DOCTYPE html>
<html>
	<head>
		<title>Авторизация</title>
		<link rel="stylesheet" href="{{STATIC_URL}}creation.css">
	</head>
	<body>
		<div class="content">
			<h1>Вход</h1>
			<form method="POST">{% csrf_token %}
				<div>
					<input type="text" name="username" placeholder="Логин" value="{{ form.username }}">
				</div>
				<div>
					<input type="password" name="password" placeholder="Пароль" value="{{ form.password }}">
				</div>
				<input type="submit" value="Войти">
			</form>
			{{ form.errors }}
		</div>
	</body>
</html>