body {
	background: #220042;
	font-family: Tahoma, Arial, sans-serif;
	color: #ffffff;
}
.article-author {
	width: 50%;
	float: left;
	font-size: 20px;
	font-style: italic;
}
.article-created-date {
	text-align: right;
	font-style: italic;
	padding: 5px;
	font-size: 30px;
}
p {
	font-size: 25px;
}
.header a {
	color: #ffffff;
	font-size: 30px;
	float: right;
	padding: 30px;
}
.article .header img{
	display: block;
	width: 318px;
}
.archive .header img {
	display: block;
	width: 318px;
	margin-left: auto;
	margin-right: auto;
}
.archive .archive {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.archive .post-title a {
	color: #ffffff;
	font-size: 70px;
}

.article .archive .post-title {
	font-size: 120px;
}
.article-author {
	width: 50%;
	float: left;
	font-size: 30px;
}
.article-created-date {
	text-align: right;
	font-style: italic;
	padding: 5px;
}
.article .article-text{
	font-size: 40px;
}
.article .header a {
	
	color: #ffffff;
	font-size: 20px;
	float: left;
	padding: 10px;
}
